* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.bar {
  height: 10px;
  margin: 2px 0;
  background: blue;
}

.structure-chart {
  position: relative;
}

.top-label-1 {
  position: absolute;
  /* left: 120px;
  top: 50px; */
  width: 150px;
  height: 90px;
  text-align: center;
  padding: 10px;
}
